<div class="header-section">
  <header class="header-container">
    <div id="youtube-logo">
      <a href="www.youtube.com"
        ><img src="images/youtube-logo.png" alt="youtube logo" title="youtube"
      /></a>
    </div>
    <div class="search-section">
      <form action="">
        <div class="search-bar-container">
          <input type="text" class="search" placeholder="search" />
        </div>
        <div class="search-btn">
          <button class="searchbar-btn" type="submit">
            <img class="search-icon" src="images/search-btn.png" alt="" />
          </button>
        </div>
      </form>
    </div>
    <div id="nav-image">
      <a href="www.youtube.com">
        <img src="images/nav-image.png" alt="Nav image" title="youtube nav" />
      </a>
    </div>
  </header>
</div>
