<div class="thumbnail">
    <div class="thumbnail-img">
      <a href="https://www.youtube.com/watch?v=iGg5-d8OMfU">
        <img src="images/microverse-img.webp">
      </a>
    </div>
    <a href="https://www.youtube.com/watch?v=iGg5-d8OMfU">
      <div class="sidebar-text">
        <h3 class="title">From Freelance Developer to Remote Software Engineer | Microverse Alum, Cristian</h3>
      <span class="video-info">Microverse</span>
      <span class="video-info">200K views</span>
      </div>
    </a>
  </div>