<div id="video"></div>
<iframe
width="650px"
height="350px"
src="https://www.youtube-nocookie.com/embed/KVp08w0Kl_4"
frameborder="0"
gesture="media"
allowfullscreen
></iframe>
</div>
<h1>What are we about? | Microverse</h1>

<div class="video-btn-box">
  <div class="video-views-btn">123,456 views</div>
  <div class="video-btn">Add to +</div>
  <div class="video-btn">Share</div>
  <div class="video-btn">More...</div>
</div>
<div class="video-subscribe-box">
  <div class="channel-img">
    <a href="https://www.youtube.com/channel/UCTT9xjge80Ei_Gss9LSHNZw">
      <img class="img-round" src="images/chanel-img.jpg" alt="Microverse youtube channel" />
    </a>
  </div>
  <div class="video-subscribe-btn">SUBSCRIBED 1.8M</div>
</div>
<div class="comment-box">
  <div class="comment-img">
    <img class="img-round img-size" src="images/comment-img.jpg" alt="" />
  </div>
  <div class="comment-text">
    <h4>Microverse Student</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum
      fugiat quam. Natus labore harum voluptas fugiat ratione, repellat vero.
    </p>
  </div>
</div>